@model dynamic

@{
    ViewData["Title"] = "Employment-";
}

@section CSS {
    <style>
        h2 {
            color: black;
        }

        body {
            background: #4CA1AF; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    </style>

}

@*@foreach (var x in Model.coopTable)
    {
        <h2>@x.term</h2>

    }*@


<h2>Employment Table</h2>

<div id="jsGrid"></div>
<h2>Co-op Table</h2>
<div id="jsGrid1"></div>
@section Scripts {
    <link type="text/css" rel="stylesheet" href="~/lib/jsgrid/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="~/lib/jsgrid/jsgrid-theme.min.css" />

    <script type="text/javascript" src="~/lib/jsgrid/jsgrid.min.js"></script>
    <script type="text/javascript" src="~/lib/jsgrid/jsgrid.js"></script>


    <script>
        var empData =@Html.Raw(Json.Serialize(Model.employmentTable));
                    $("#jsGrid").jsGrid({
                    width: "100%",
                    height: "400px",

                    inserting: false,
                    editing: false,
                    sorting: true,
                    paging: true,

                    data: empData,



                    fields: [
                    { name: "employer", type: "text", width: 125, validate: "required" },
                    { name: "degree", type: "text", width: 50 },
                    { name: "city", type: "text", width: 75 },
                    { name: "title", type: "text", width: 150},
                    { name: "startDate", type: "text", width: 50}
                    ]
                    });
    </script>
    <script>
                    $("#jsGrid1").jsGrid({
                    width: "100%",
                    height: "400px",

                    inserting: false,
                    editing: false,
                    sorting: true,
                    paging: true,

                    data: @Html.Raw(Json.Serialize(Model.coopTable)),

                    fields: [
                    { name: "employer", type: "text", width: 125, validate: "required" },
                    { name: "degree", type: "text", width: 50 },
                        { name: "city", type: "text", width: 75 },
                        {name: "term",type:"text",width: 75}


                    ]
                    });
    </script>



}